@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,700';

body {
	background-color: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

.wrapper{
	width: 100%;
	height: 300vh;
}


/* FIXED HEADER */
header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	background-color: #F3EEF4;
	width: 100%;
	height: 10vh;
	text-align: center;
}

header #desktop {
	display: none;
}

header nav a {
	padding: 0 2vh;
	text-decoration: none;
	line-height: 10vh;
}

/* menu page */
  .menubar nav{
    align-content: center;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    z-index: 20; 
  }

  .menubar nav li{
    position: relative;
    display: inline-block;
    align-self: center;
    color: white;
  }

  .submenu{
    text-decoration: none;
    color: #000000;
    background-color: none;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    padding: 12px;

  }

  .submenu:hover{
    background-color: black;
    color: white;
    text-decoration: none;
  }
  
  .active{
    background-color: black;
    color: white;
  }
/* End of nav bar */



/* header tag */
  .header1{
    width: 940px;
    height: 600px;
    margin: 0 auto;
    padding: 50px;
  }

  .header1 img{
    width: 100%;
    height:350px;
    margin-top: 100px;
  }
/* End of header tag */


.text{
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: -100px;
}

.text1{
	color: white;
	font-size: 20px;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
}



/*FIRST SECTION*/
.section1{
	width: 100%;
	height: 5vh;
}

.article1{
	width: 20%;
	height: 20vh;
	/*border: 1px solid white;*/
	float: left;
	margin-left: 220px;
	text-align: center;
  margin-top: -40px;
}

.text3{
	color: yellow;
	font-size: 45px;
}

.text4{
	color: white;
	font-size: 15px;
  text-align: justify;
}

.article2{
	width: 50%;
	height: 20vh;
	/*border: 1px solid white;*/
	float: right;
	margin-right: 180px;
	text-align: center;
}




/*------Footer-----*/
footer{
    opacity: 0.9;
    width: 98.9vw;
    height: 6vh;
    bottom: 0;
    position: fixed;
    margin-top: -50px;
    z-index: 30;
    transition: 0.5s;
    background-color: #F3EEF4;
    color: black;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }